@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}
@font-face {
    font-family: "ClashGrotesk";
    src: url("/fonts/ClashGrotesk-Variable.ttf") format("truetype");
}

    .scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #262626;
  border: 2px solid #0E0F11;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  margin-left: 24px;
  margin-right: 24px;
}

body{
  height: 100%;
  /* background-color: yellow; */
}
